<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Maintenance page!!</title>
</head>

<body>
    <h1>
        There is some issue with the server!!
    </h1>
    <p>Please try again after some time!!</p>
</body>

</html>